<div id="<%= dom_id booking %>">
  <p>
    <strong>User:</strong>
    <%= booking.user_id %>
  </p>

  <p>
    <strong>Room:</strong>
    <%= booking.room_id %>
  </p>

  <p>
    <strong>Code:</strong>
    <%= booking.code %>
  </p>

  <p>
    <strong>Date start:</strong>
    <%= booking.date_start %>
  </p>

  <p>
    <strong>Date end:</strong>
    <%= booking.date_end %>
  </p>

</div>
