<%= form_with(model: hotel) do |form| %>
  <% if hotel.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hotel.errors.count, "error") %> prohibited this hotel from being saved:</h2>
      <ul>
        <% hotel.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :address, style: "display: block" %>
    <%= form.text_field :address %>
  </div>

  <div>
    <%= form.label :room_ids, style: "display: block" %>
    <%= form.collection_select :room_ids,
                               Room.all.where("hotel_id is null or hotel_id = ?", hotel.id),
                               :id, :display_name,
                               {}, {multiple: true} %>
  </div>



  <div>
    <%= form.submit %>
  </div>
<% end %>
